<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Hamasa Safaris</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-5">
                    <div class="card-body text-center">
                       
                        <h2 class="card-title"> <img style="width:50px;" src="{{cdnLocal('/assets/img/hamasa.png')}}" alt="hamasa safaris"
                            srcset="{{cdnLocal('/assets/img/hamasa.png')}}"> New Hamasa safaris Booking Notification</h2>
                        <p class="card-text">Subject: New Booking Notification <br>

Dear Samwel Meyain,<br>

I am excited to inform you that we have received a new booking from a client. This is a great step forward for our business, and I wanted to share the details with you:
<ul>
<li>Client's Name: {{name}}</li>
<li>Client's Email: {{email}}</li>
<li>Client's Contact: {{phone}}</li>
<li>Booking Date: {{book_date}}</li>
<li>Service/Package: {{package}}<</li>
<li>Number of Guests: {{travelers}}</li>
</ul><br>

The customer has received an email thanking them for choosing us and that futher information and special package will be sent to them by your business office. 
Your input and guidance are highly appreciated as we move forward to provide the best possible service to our clients.
<br>
Thank you for your continued support and dedication to our business's success.
<br>
Best regards,
<br>
Saincraft Technologies
Lead Notification
</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>