<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Hamasa Safaris</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-5">
                    <div class="card-body text-center">
                        <img src="https://www.hamasasafaris.com/assets/img/hamasa.png" alt="hamasa safaris" srcset="https://www.hamasasafaris.com/assets/img/hamasa.png">
                        <h1 class="card-title">Successfully Booked!</h1>
                        <p class="card-text">Thank you for booking your tour with us.</p>
                        <p class="card-text">Your booking details are as follows:</p>

                        <!-- Display booking details -->
                        <table class="table table-bordered">
                            <tr>
                                <th>Full Name</th>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <th>Email Address</th>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{phone}}</td>
                            </tr>
                            <tr>
                                <th>Number of Travelers</th>
                                <td>{{travelers}}</td>
                            </tr>
                        </table>

                        <p class="card-text">We look forward to providing you with an unforgettable tour experience.</p>
                        <p class="card-text">If you have any further questions or require assistance, please don't
                            hesitate to <a href="mailto:info@hamasasafaris.com">contact us</a> or call us <a href="tel:+255788328447">+ (255) 788
                                328 447</a></p>
                        <p class="card-text">Thank you again for choosing our services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>