<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('/css/custom.css') }}
    {{ style('/css/fontawesome.min.css') }}
    {{ style('/css/materialdesignicons.min.css') }}
    <link rel="icon" type="image/png" href="/assets/img/hamasa.png" />

    <title>Hamasa|Safaris</title>
</head>

<body>
    <!-- Navigation-->
    @include('inc/navbar')
    <!-- Masthead-->
    @include('inc/masterhead')
    <!-- About-->

    <!-- Projects-->
    @!section('content')

    @include('inc/contact')
    {{--  @include('inc/footer')  --}}
    {{ script('/js/jquery-3.7.0.min.js') }}
    {{ script('/js/popper.js') }}
    {{ script('/js/bootstrap.min.js') }}
    {{ script('/js/bootstrap.bundle.min.js') }}
    {{ script('/js/custom.js') }}

</body>

</html>