@section('content')
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            @include('site/book')
        </div>
        {{-- <img class="img-fluid" src="assets/img/ipad.png" alt="..." /> --}}
    </div>
</section>
@endsection