<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{cdnLocal('/css/custom.css')}}">

    <link rel="stylesheet" href="{{cdnLocal('/css/materialdesignicons.min.css')}}">
    <link rel="icon" type="image/png" href="{{cdnLocal('/assets/img/hamasa.png')}}">

    <title>Hamasa|Safaris</title>
</head>

<body>
    <!-- Navigation-->
    @include('inc/navbar')
    <!-- Masthead-->
    @include('inc/masterhead')
    <!-- About-->

    <!-- Projects-->
    @!section('content')

    @include('inc/contact')
    @include('inc/footer')
    <script src="{{cdnLocal('/js/jquery-3.7.0.min.js')}}">
    </script>
    <script src="{{cdnLocal('/js/popper.js')}}">
    </script>
    <script src="{{cdnLocal('/js/bootstrap.min.js')}}">
    </script>
    <script src="{{cdnLocal('/js/bootstrap.bundle.min.js')}}">
    </script>
    <script src="{{cdnLocal('/js/custom.js')}}">
    </script>

</body>

</html>