<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
        href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/custom.css">
    <link rel="stylesheet"
        href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/fontawesome.min.css">
    <link rel="stylesheet"
        href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/materialdesignicons.min.css">
    <link rel="icon" type="image/png"
        href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/assets/img/hamasa.png" />

    <title>Hamasa|Safaris</title>
</head>

<body>
    <!-- Navigation-->
    @include('inc/navbar')
    <!-- Masthead-->
    @include('inc/masterhead')
    <!-- About-->

    <!-- Projects-->
    @!section('content')

    @include('inc/contact')
    @include('inc/footer')
    <script
        src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/jquery-3.7.0.min.js">
    </script>
    <script
        src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/popper.js">
    </script>
    <script
        src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/hamasasafaris/public/js/bootstrap.min.js">
    </script>
    <script
        src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/hamasasafaris/public/js/bootstrap.bundle.min.js">
    </script>
    <script
        src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/hamasasafaris/public/js/custom.js">
    </script>

</body>

</html>