<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ style('/css/custom.css') }}
  {{ style('/css/bootstrap.min.css') }}
  {{ style('/css/fontawesome.min.css') }}
  {{ style('/css/materialdesignicons.min.css') }}
  {{ style('/css/materialdesignicons.css.map') }}
  <style>
    .carousel-item {
      height: 500px;
      /* Set the desired height of the slider */
      opacity: 0.3;
      transition: opacity 0.8s ease-in-out;
    }

    .carousel-item.active {
      opacity: 1;
    }

    .carousel-item img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.7);
      /* Adjust the background color and opacity of the caption */
      color: #fff;
      /* Adjust the text color of the caption */
      padding: 10px;
    }

    .carousel-caption h3 {
      font-size: 24px;
      font-weight: bold;
    }

    .carousel-caption p {
      font-size: 18px;
    }
  </style>
  <link rel="icon" type="image/png" href="/assets/img/hamasa.png" />
  <title>Hamasa|Safaris</title>
</head>

<body>
  <!-- Navigation-->
  @include('inc/parksNavbar')
  <!-- Masthead-->
  <!-- About-->

  <!-- Projects-->
  @!section('content')
  <!-- Signup-->
  <!-- Footer-->
  @include('inc/footer')
  <!-- Bootstrap core JS-->



  {{ script('js/jquery.min.js') }}
  {{ script('js/bootstrap.min.js') }}
  {{ script('js/custom.js') }}

</body>

</html>