<!doctype html>
<html lang="en">

<head>
  <title>Website | Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ style('/css/materialdesignicons.min.css') }}
  {{ style('/css/custom-css.css')}}
  {{ style('/css/content-placeholder.css')}}
  {{ style('/css/toastr.min.css')}}
  {{ style('/css/vendor/dataTables.bootstrap4.css')}}
  {{ style('/css/vendor/responsive.bootstrap4.css')}}
  {{ style('/css/vendor/buttons.bootstrap4.css')}}
  {{ style('/css/vendor/summernote-bs4.css')}}
  {{ style('/css/style')}}
  {{ style('/css/app.css')}}
  {{ script('/js/jquery-3.7.0.min.js')}}
  <link rel="icon" type="image/png" href="/assets/img/hamasa.png" />

</head>

<body data-layout="detached">
  @include('inc/navigation')
  <div class="container-fluid">

    <div class="wrapper">
      @include('inc/sidebar')
      <!-- Page Content  -->
      <!-- PAGE CONTAINER-->
      <div class="content-page">
        <div class="content content-main">
          <div class="loadings hidden"></div>
          <!-- BEGIN PlACE PAGE CONTENT HERE -->
          <div class="content_holder">
            @!section('content')
          </div>
          <!-- END PLACE PAGE CONTENT HERE -->
        </div>
        <!-- Footer -->
      </div>
    </div>
  </div>
  {{ script('/js/app.min.js')}}
  {{ script('/js/app.js')}}
  {{ script('/js/main.js')}}
  {{ script('/js/sub-sidebar.js')}}
  {{script('/js/owl.carousel.min.js')}}
  {{ script('/js/toastr.min.js')}}
  {{ script('/js/jquery.validate.min.js')}}
  {{ script('/js/additional-methods.min.js')}}
  {{ script('/js/content-placeholder.js')}}
  {{ script('/js/addon.js')}}
  {{ script('/js/ajax_form_submission.js')}}

  @include('inc/modals')
  @include('inc/notify')
  <script>
    const loadPage = function(route){
      console.log($);
        $.ajax({
          method:'GET',
          url:route,
          success:(response)=>{
            $('.mainContent').html('');
                $('.mainContent').html(response);
          }
        })
      }
  </script>
</body>

</html>