<!doctype html>
<html lang="en">

<head>
  <title>Website | Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/materialdesignicons.min.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/custom.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/content-placeholder.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/toastr.min.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/vendor/dataTables.bootstrap4.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/vendor/responsive.bootstrap4.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/vendor/buttons.bootstrap4.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/vendor/summernote-bs4.css">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/style">
  <link rel="stylesheet"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/css/app.css">
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/jquery-3.7.0.min.js">
  </script>
  <link rel="icon" type="image/png"
    href="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/hamasasafaris/public/assets/img/hamasa.png" />

</head>

<body data-layout="detached">
  @include('inc/navigation')
  <div class="container-fluid">

    <div class="wrapper">
      @include('inc/sidebar')
      <!-- Page Content  -->
      <!-- PAGE CONTAINER-->
      <div class="content-page">
        <div class="content content-main">
          <div class="loadings hidden"></div>
          <!-- BEGIN PlACE PAGE CONTENT HERE -->
          <div class="content_holder">
            @!section('content')
          </div>
          <!-- END PLACE PAGE CONTENT HERE -->
        </div>
        <!-- Footer -->
      </div>
    </div>
  </div>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/app.min.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/app.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/main.js">
  </script>
  <!-- <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/hamasasafaris/public/js/sub-sidebar.js">
  </script>-->
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/owl.carousel.min.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/toastr.min.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/jquery.validate.min.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/additional-methods.min.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/content-placeholder.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/addon.js">
  </script>
  <script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/ajax_form_submission.js">
  </script>

  @include('inc/modals')
  @include('inc/notify')
  <script>
    const loadPage = function(route){
      console.log($);
        $.ajax({
          method:'GET',
          url:route,
          success:(response)=>{
            $('.mainContent').html('');
                $('.mainContent').html(response);
          }
        })
      }
  </script>
</body>

</html>