<!doctype html>
<html lang="en">

<head>
  <title>Website | Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ style('css/materialdesignicons.min.css')}}
  {{ style('css/style')}}
  {{ style('css/bootstrap.min.css')}}
  {{ script('js/jquery.min.js')}}
</head>

<body>

  <div class="wrapper d-flex  d-md-flex align-items-stretch" style="position: fixed; ">

    @include('inc/navigation')

    <!-- Page Content  -->
    <div id="content" style="position:relative">

      <nav class="navbar navbar-expand-lg navbar-light bg-light mr-5"
        style="position:absolute; z-index:1;  width:100%;">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="mdi mdi-menu"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <h5 class="ml-4 mt-2" style="position: relative; float:inline-start;">Dashboard</h5>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
          </button>
          <div class="collapse navbar-collapse" style="float:right;" id="navbarSupportedContent">
            @include('inc/rightbar')
          </div>
        </div>
      </nav>
      <div style="position: absolute;
      top: 70px;
      height:93%;
      width:100%;
      overflow: scroll;">
        <div class="p-2 mainContent" style="top:10px; position:relative">
          @!section('content')
        </div>
      </div>
    </div>
  </div>


  <script>
    const loadPage = function(route){
      console.log($);
        $.ajax({
          method:'GET',
          url:route,
          success:(response)=>{
            $('.mainContent').html('');
                $('.mainContent').html(response);
          }
        })
      }
  </script>

  {{ script('js/popper.js')}}
  {{ script('js/bootstrap.min.js')}}
  {{ script('js/main.js')}}
  {{ script('js/sub-sidebar.js')}}
  {{script('js/owl.carousel.min.js')}}
</body>

</html>