<label for="{{model}}">select {{model}}</label>
<select name="{{model}}_id" id="{{model}}Id" class="form-control select2">
    <option value="" disabled selected>select {{model}}</option>
    @each(item in items)
    <option value="{{item.id}}">{{item.name}}</option>
    @endeach
</select>
<small id="{{model}}_help" class="form-text text-muted">provide {{model}}</small>
<script>
    $('#{{model}}Id').select2({
                    dropdownParent: $('#large-modal')});
</script>