@layout('parks')

@section('content')
@include('site/destinations/serengeti/heading')
<!-- JavaScript for adding
    slider for multiple images
    shown at once-->
<!-- bootstrap card with row name myCarousel as row 1-->
@include('site/destinations/serengeti/slider')

<!-- Page Content -->
<div class="container">
    <section class="py-5">
        @include('site/destinations/serengeti/body')
    </section>
</div>
@endsection