<ul class="nav navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
    </li>
</ul>