<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/jquery.dataTables.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/dataTables.bootstrap4.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/dataTables.responsive.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/dataTables.buttons.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/responsive.bootstrap4.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/buttons.bootstrap4.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/buttons.html5.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/buttons.flash.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/buttons.print.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/vendor/jquery-ui.min.js">
</script>
<script
    src="https://saincrafttechnologies-static-public-2023.fra1.digitaloceanspaces.com/storekeeperapp/public/js/init.js">
</script>