<div class="container px-4 px-lg-5 mt-5" id="destinations">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <h4 class="text-danger">Destinations</h4>
        @include('site/tiles/destination')
    </div>
</div>